<div class="row">
	<div class="hero-unit span6">
	  <h1>Rent spots from others in your building.</h1>
	  <p>
		<% unless current_user %>
			<%= button_to "Sign Up!", new_user_path, method: :get, class: "btn btn-large blue" %>
		<% end %>
	  </p>
	</div>
	<% unless current_user %>
	<div class="span4 home-page-well">
		<%= render 'login' %>
	</div>
	<% end %>
</div>
<div class="row">
	<div class="span12">
		<h2 class="front pull-left">Participating Buildings:</h2>
	</div>
</div>
</br>
<div class="row">
	<div class="span11">
		<ul class="unstyled">
		<% @buildings.each do |building| %>
		<div class="span5 pull-left">
			<li><%= link_to "#{building.name}", building_path(building) %></li>
		</div>
		<% end %>
		<div class="span12">
			</br>
			<li><em>Landlord or property manager? Learn how to <%= link_to 'enroll', new_building_path %> you building.</em></li>
		</div>
		</ul>
	</div>
</div>
</br>
<hr>
</br>
<div class="row">
	<div class="well well-blue">
		<h2 id="hows_it_work" class="front white">How does it work?</h2>
	</div>
</div>

<div class="row">
		<ol>
			<div class="home-well">
				<li class="bigger">
				<%= link_to "Sign up", new_user_path %> using your 6-digit building code.
				</li>
				<p>If your building does not participate then please have them <a href="mailto:info@sharethelot.com">contact us</a>.</p>
			</div>
			
			<h1>Share parking:</h1>
			<div class="home-well">
				<li class="bigger">
				 	Verify your parking spot(s).
				</li>
				<p>Select the parking spot(s) assigned to you.</p>
			</div>
			<div class="home-well">
				<li class="bigger">
				 	Add listings when your parking spot is vacant.
				</li>
				<p>Listings must be a minimum of 4 hours in length.</p>
			</div>
			<div class="home-well">
				<li class="bigger">
				 	Earn <span class="money">money</span> when others use your spot.
				</li>
				<p>Spots are listed at $3 per hour up to $10, anything over 8 hours is charged at $20 per day.
					 ShareTheLot takes 15% and sends checks via mail every 60 days.
				</p>
			</div>
			<h1>Reserve parking:</h1>
			<div class="home-well">
				<li class="bigger">
				 	Search for parking.
				</li>
				<p>Choose the dates and times you would like to reserve a spot from one of your neighbors.</p>
			</div>
			<div class="home-well">
				<li class="bigger">
				 	Checkout and print parking passes.
				</li>
				<p>All parking spots are charges at $3 per hour up to $10, anything over 8 hours is $20 per day.
					 You parking passes are sent by email or may be printed online.</p>
			</div>
			<div class="home-well">
				<li class="bigger">
				 	Park at your reserved spot and time.
				</li>
				<p>Use your parking pass to access the garage. Parking instructions are also included on the receipt.</p>
			</div>
		</ol>
</div>
