<legend>Please Sign In</legend>  
<%= form_tag do %>
<div class="row">
	<div class="custom-well span5">
		<div class="row">
			<div class="span2">
				<label>Email:</label>
			</div>
			<div class="span2">
				<%= text_field_tag :email, params[:email], class: "span3" %>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<label>Password:</label>
			</div>
			<div class="span2">
				<%= password_field_tag :password, params[:password], class: "span3" %>
			</div>
		</div>
		<p>Dont have an account? Create one <%= link_to 'here', new_user_path %>.</p>
			<hr>
			<div>
	      <%= submit_tag "Login", class: "btn-large btn pull-right" %>
	    </div>
			<p><small><%= link_to "forgot password?", '#' %></small></p>
	<% end %>
	</div>
</div>
