<%= form_for(@listing) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
		<div class="row">
			<div class="big-left-margin span2">
				<label>Which Spot?</label>
		    <%= f.collection_select :spot_id, @spots, :id, :name, {}, class: "input-small" %>
			</div>
			<div class="span4">
				<label>Building:</label>
				<em>
					<%= current_user.building.full_building_name %>
				</em>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span2 well well-red big-left-margin">
			<div class="span1">
				<%= f.text_field :start_date, placeholder: "Date", class: "input-small" %>
				<%= f.select :start_time_slot, Listing::TIMES, {}, class: "input-small"  %>
			</div>
			</div>
			<div class="span1 center form-center-well">
				<h3>---to---</h3>
			</div>
			<div class="span2 well well-red">
			<div class="span1">
				 <%= f.text_field :end_date, placeholder: "Date", class: "input-small" %>
				<%= f.select :end_time_slot, Listing::TIMES, {}, class: "input-small"  %>
			</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span4 pull-left">
				<em>*a minimum of 4 hours is required per listing</em>
			</div>
			<div class="span1 pull-right">
				<%= f.submit 'Create Listing', class: "btn btn-custom btn-large pull-right" %>
			</div>
		</div>
<% end %>