<div class="row">
	<div class="span7">
			<ul class="nav nav-tabs">
			  <li><%= link_to 'Search', new_search_path %></li>
			  <li class="active"><a href="#">All Listings</a></li>
			  <li><%= link_to 'Reservations', '#' %></li>
			  <li><%= link_to 'Checkout', '#' %></li>
			</ul>
			
		<table class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>Spot</th>
					<th>Start Date</th>
					<th>End Date</th>
				</tr>
			</thead>
			<tbody>
				<% @listings.each do |listing| %>
				<tr>
					<td><%= listing.spot.name %></td>
					<td><%= listing.start_date %></td>
					<td><%= listing.end_date %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="span5">
		<div class="custom-well span4 pull-right">
			<h3>Cart</h3>
			<hr>
		</div>
	</div>
</div>
