<legend>Listings</legend>
<p><%= link_to "Advanced Search", new_search_path %></p>
<table class="table table-striped table-condensed table-hover">
	<thead>
	  <tr>
	    <th><%= Date.today.strftime("%A") %></br>
					<%= Date.today.strftime("(%m/%d)") %>
			</th>
	    <th><%= (Date.today + 1).strftime("%A") %></br>
					<%= (Date.today + 1).strftime("(%m/%d)") %>
			</th>
			<th><%= (Date.today + 2).strftime("%A") %></br>
					<%= (Date.today + 2).strftime("(%m/%d)") %>
			</th>
			<th><%= (Date.today + 3).strftime("%A") %></br>
					<%= (Date.today + 3).strftime("(%m/%d)") %>
			</th>
			<th><%= (Date.today + 4).strftime("%A") %></br>
					<%= (Date.today + 4).strftime("(%m/%d)") %>
			</th>
			<th><%= (Date.today + 5).strftime("%A") %></br>
					<%= (Date.today + 5).strftime("(%m/%d)") %>
			</th>
			<th><%= (Date.today + 6).strftime("%A") %></br>
					<%= (Date.today + 6).strftime("(%m/%d)") %>
			</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
			<td>
				<%= render 'today', renthours_today: @renthours_today %>
			</td>
			<td>
				<%= render 'today', renthours_today: @renthours_today_1 %>
			</td>
			<td>
				<%= render 'today', renthours_today: @renthours_today_2 %>
			</td>
			<td>
				<%= render 'today', renthours_today: @renthours_today_3 %>
			</td>
			<td>
				<%= render 'today', renthours_today: @renthours_today_4 %>
			</td>
			<td>
				<%= render 'today', renthours_today: @renthours_today_5 %>
			</td>
			<td>
				<%= render 'today', renthours_today: @renthours_today_6 %>
			</td>
		</tr>
	</tbody>
</table>
