<div class="row">
	<div class="span12">
		<%= will_paginate %>
		<table class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>Building</th>
					<th>Spot</th>
					<th>Start</th>
					<th>End</th>
				</tr>
			</thead>
			<tbody>
				<% @listings.each do |listing| %>
				<tr>
					<td><%= link_to "#{listing.spot.building.name}", building_path(listing.spot.building) %></td>
					<td><%= listing.spot.name %></td>
					<td><%= listing.start_date.strftime("%m/%d") %> <%= listing.time_slot_start_hour %></td>
					<td><%= listing.end_date.strftime("%m/%d") %> <%= listing.time_slot_end_hour %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
