<h1>Listings</h1>
<table class="table table-striped table-condensed table-hover">
	<thead>
	  <tr>
	    <th>Building</th>
	    <th>Spot</th>
	    <th>Start</th>
	    <th>End</th>
	    <th>Price</th>
	  </tr>
	</thead>
	<tbody>
	<% @listings.each do |listing| %>
	  <tr>
			<td><%= listing.spot.building.name %></td>
			<td><%= listing.spot.name %></td>
			<td><%= listing.start_date.strftime("%b %e, %Y") %></td>
			<td><%= listing.end_date.strftime("%b %e, %Y") %></td>
			<td><%= number_to_currency(listing.price) %>/hour</td>
		</tr>
	<% end %>
	</tbody>
</table>
