<%= form_for(@listing) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
<div class="row">
	<div class="custom-well">
		<div class="row">
			<div class="alert alert-info span11">
				<i class="icon-info-sign"></i>
			  Select the spot you would like to list, the start date/time, the end date/time, and the price per hour you would like
				to charge.
			</div>
		</div>
		<h3 class="blue">Share My Parking Spot
		<span class="pull-right"><small>Building: </small><%= current_user.building.name %></span>	
		</h3>
		<hr>
		<div class="row">
			<div class="span1">
				<label>Spot:</label>
			</div>
			<div class="span2">
		    <%= f.collection_select :spot_id, @spots, :id, :name %>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span1">
				<label>Start:</label>
			</div>
			<div class="span2">
				<%= f.text_field :start_date, placeholder: "Date" %>
			</div>
			<div class="span2 offset1">
				<%= f.select :start_time_slot, Listing::TIMES  %>
			</div>
		</div>
		<div class="row">
			<div class="span1">
				<label>End:</label>
			</div>
			<div class="span2">
				 <%= f.text_field :end_date, placeholder: "Date" %>
			</div>
			<div class="span2 offset1">
				<%= f.select :end_time_slot, Listing::TIMES  %>
			</div>
		</div>
		<div class="row">
			<div class="span1">
				<label>Price:</label>
			</div>
			<div class="span5">
				$<%= f.text_field :price, class: "span1" %> <p class="inline"><small>per hour</small></p>
			</div>
		</div>
		<hr>
		<div class="row">
			<div>
				<%= f.submit 'Create Listing', class: "btn btn-custom btn-large pull-right" %>
			</div>
		</div>
	</div>
</div>
<% end %>

