<p>New building has signed up!!</p></br>
</br>
<p>Details below:</p></br>
</br>
<p>Building Info:</p>
<p><%= @building.name %></p>
<p><%= @building.address %></p>
<p><%= @building.city %>, <%= @building.state %> <%= @building.zip_code %></p></br>
</br>
<p>Contact Info:</p>
<p><%= @building.contact_name %></p>
<p><%= @building.contact_email %></p>
<p><%= @building.contact_phone %></p>