<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
<h3 class="blue">User Account Info</h3>
<hr>
<div class="row">
	<div class="span2">
		<label>Building: <span class="red">*</span></label>
	</div>
	<div class="span2">
		 <%= f.collection_select :building_id, @buildings, :id, :name, prompt: "--select--" %>
	</div>
</div>
<div class="row">
	<div class="span2">
		<label>6-Digit Building Code: <span class="red">*</span></label>
	</div>
	<div class="span2">
		<input name="building_code" class="span1" type="text">
	</div>
</div>
<div class="row">
	<div class="span2">
		<label>Name: <span class="red">*</span></label>
	</div>
	<div class="span2">
    <%= f.text_field :first_name, class: "span3", placeholder: "First Name" %> 
		<%= f.text_field :last_name, class: "span3", placeholder: "Last Name" %>
	</div>
</div>
<div class="row">
	<div class="span2">
		<label>Email: <span class="red">*</span></label>
	</div>
	<div class="span2">
		 <%= f.email_field :email, class: "span3", placeholder: "Email" %>
	</div>
</div>
<h3 class="blue">Password</h3>
<hr>
<div class="row">
	<div class="span2">
		<label>Create Password: <span class="red">*</span></label>
	</div>
	<div class="span2">
		 <%= f.password_field :password, class: "input-small" %>
	</div>
</div>
<div class="row">
	<div class="span2">
		<label>Confirm Password: <span class="red">*</span></label>
	</div>
	<div class="span2">
		 <%= f.password_field :password_confirmation, class: "input-small" %>
	</div>
</div>
<hr>
<div class="row">
	<div class="span2">
		<%= f.submit 'Create account', class: "btn btn-custom btn-large" %>
	</div>
	<div class="span3 pull-right">
		<p class="pull-right"><small>Looking for <%= link_to 'Building Sign Up', new_building_path %>?</small></p>
	</div>
</div>
<% end %>

