<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
<div class="row">
	<div class="custom-well span5">
		<h3 class="blue">User Account Info <p class="inline"><small>(<span class="red">*</span> = required field)</small></p></h3>
		<hr>
		<div class="row">
			<div class="span2">
				<label>Name: <span class="red">*</span></label>
			</div>
			<div class="span2">
		    <%= f.text_field :first_name, class: "span3", placeholder: "First Name" %> 
				<%= f.text_field :last_name, class: "span3", placeholder: "Last Name" %>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<label>Email: <span class="red">*</span></label>
			</div>
			<div class="span2">
				 <%= f.email_field :email, class: "span3", placeholder: "Email" %>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<label>Building: <span class="red">*</span></label>
			</div>
			<div class="span2">
				 <%= f.collection_select :building_id, @buildings, :id, :name, prompt: "--select--" %>
			</div>
		</div>
		
		<h3 class="blue">Password</h3>
		<hr>
		<div class="row">
			<div class="span2">
				<label class="inline">Create Password: <span class="red">*</span></label>
			</div>
			<div class="span2">
				 <%= f.password_field :password %>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<label class="inline">Confirm Password: <span class="red">*</span></label>
			</div>
			<div class="span2">
				 <%= f.password_field :password_confirmation %>
			</div>
		</div>
		<div class="row">
			<div class="span2">
				<%= f.submit 'Create account', class: "btn btn-custom btn-large" %>
			</div>
		</div>
	</div>
</div>
<% end %>
</br>