<div class="row">
	<div class="span12">
		<%= will_paginate %>
		<table class="table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Building</th>
					<th>Spot count</th>
					<th>Spots</th>
				</tr>
			</thead>
			<tbody>
				<% @users.each do |user| %>
				<tr>
					<td><%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %></td>
					<td><%= user.email %></td>
					<td><%= user.building.name %></td>
					<% if user.spots.count != 0 %>
					<td><%= pluralize(user.spots.count, "spot") %></td>
					<td><%= user.spots.map { |s| s.name }.to_sentence %></td>
					<% else %>
					<td><em>no spots</em></td>
					<td></td>
					<% end %>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>