<% if @cart && @cart.reservations.count != 0 %>
<div class="row">
	<div class="custom-well-span12">
		<div class="span4 pull-left no-left-margin">
			<%= form_tag('/checkout') do %>
			  <fieldset>
					<legend>User Info</legend>
					<% if current_user %>
					<div class="span4">
						<p>
							<%= current_user.first_name %> <%= current_user.last_name %></br>
							<%= current_user.email %>
						</p>
					</div>
					<% else %>
					<input type="text" name="email" placeholder="Email">
					<input type="text" name="license_plate" placeholder="License Plate #" class="input-small">
					<% end %>
			    <legend>Billing Information</legend>
					<%= image_tag 'billing_options.jpg', size: "150x150" %></br>
			    <input type="text" name="card_name" placeholder="Cardholder's Name">
			    <input type="text" name="card_number" placeholder="Card Number">
			    <input type="text" name="CVV" class="input-mini" placeholder="CVV">
					<label>Expires:</label>
					<select class="input-small" name="exp_mo">
					  <option value="1">1-Jan</option>
					  <option value="2">2-Feb</option>
					  <option value="3">3-Mar</option>
					  <option value="4">4-Apr</option>
					  <option value="5">5-May</option>
					  <option value="6">6-Jun</option>
					  <option value="7">7-Jul</option>
					  <option value="8">8-Aug</option>
					  <option value="9">9-Sep</option>
					  <option value="10">10-Oct</option>
					  <option value="11">11-Nov</option>
					  <option value="12">12-Dec</option>
					</select>
					<select class="input-small" name="exp_yr">
					  <option>2013</option>
					  <option>2014</option>
					  <option>2015</option>
					  <option>2016</option>
					  <option>2017</option>
					  <option>2018</option>
					  <option>2019</option>
					  <option>2020</option>
					  <option>2021</option>
					</select>
					<hr>
			  </fieldset>
			<%= submit_tag "Confirm Purchase - #{number_to_currency(total_price(@cart.reservations))}", class: "btn btn-large", 
			 		disable_with: "Processing..."%>
			<% end %>
			<%= link_to "Cancel", root_path %>
		</div> <!-- End of cc form -->
		<div class="span7 pull-right">
			<% if @cart %>
			<table class="table table-condensed">
				<thead>
				  <tr>
						<th></th>
				    <th>Location</th>
				    <th>Reservation</th>
				    <th>Time</th>
						<th></th>
				  </tr>
				</thead>
				<tbody>
				<% @cart.reservations.each do |reservation| %>
				  <tr>
						<td><%= link_to raw('<i class="icon-remove-sign"></i>'), reservation_path(reservation), method: :delete %></td>
						<td>
							<%= reservation.spot.building.name %></br>
							<%= reservation.spot.building.address %></br>
							<%= reservation.spot.building.city %>, <%= reservation.spot.building.state %></br>
						</td>
						<td>
							<%= reservation.start_date.strftime("%m/%d") %> <%= reservation.time_slot_start_hour %> -
							<%= reservation.end_date.strftime("%m/%d") %> <%= reservation.time_slot_end_hour %></br>
							Parking Spot: <%= reservation.spot.name %>
						</td>
						<td><%= pluralize(reservation.rent_hours.count, 'hr') %></td>
						<td><%= number_to_currency(reservation.amount) %></td>
					</tr>
					<% end %>
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td><strong>Total:</strong></td>
						<td class="money"><strong><%= number_to_currency(total_price(@cart.reservations)) %></strong></td>
					</tr>
				</tbody>
			</table>
			<% end %>
			<div class="span7 pull-right">
				<p class="red">
					*** Please review your parking reservation(s) before you confirm your purchase. 
					Parking passes will be sent to your email address. They may also be accessed in 
					the <%= link_to 'Reservations', reservations_path %> section if you have
					a ShareTheLot account. Parking passes are required by each vehicle for parking entry.***
				</p>
			</div>
		</div> <!-- End Table -->
	</div> <!-- End Custom Well -->
</div> <!-- End Row -->
<% else %>
<em>You have not selected any parking spots. Please search for your desired parking dates and times 
	<%= link_to 'here', new_search_path %>.
</em>
<% end %>