
<% if @reservations.count != 0 %>
<div class="row">
	<div class="custom-well-span12">
		<legend>My Parking Reservations</legend>
		<table class="table table-striped table-condensed table-hover">
			<thead>
			  <tr>
					<th></th>
					<th>Building</th>
					<th>Address</th>
					<th>Spot</th>
					<th>Duration</th>
			    <th>Start Time</th>
			    <th>End Time</th>
					<th></th>
			  </tr>
			</thead>
			<tbody>
			<% @reservations.each do |reservation| %>
			  <tr>
					<td class="blue"><%= link_to "##{reservation.id}", reservation_path(reservation) %></td>
					<td><%= reservation.spot.building.name %></td>
					<td><%= reservation.spot.building.address %> </br> <%= reservation.spot.building.city %>, 
							<%= reservation.spot.building.state %> <%= reservation.spot.building.zip_code %></td>
					<td><%= reservation.spot.id %></td>
					<td><%= pluralize(reservation.rent_hours.count, 'hour') %></td>
					<td><%= reservation.start_date.strftime("%b %e, %Y") %> <%= reservation.time_slot_start_hour %></td>
					<td><%= reservation.end_date.strftime("%b %e, %Y") %> <%= reservation.time_slot_end_hour %></td>
					<td><i class="icon-print"></i> <%= link_to 'Print', reservation_path(reservation, format: 'pdf') %> | 
							<i class="icon-envelope"></i> <%= link_to 'Email', email_path(reservation_id: reservation.id) %></td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<em>*You must present your parking pass at the garage for access.</em>
	</div>
</div>
<% else %>
<em>You do not have any active reservations. Please search for your desired parking dates and times 
	<%= link_to 'here', new_search_path %>.
</em>
<% end %>