<div class="row">
	<div class="custom-well span9">
		<div class="row">
			<div class="span3 pull-left">
				<%= link_to 'Reservations', reservations_path %> / <%= "##{@reservation.id}" %>
			</div>
			<div class="span3 pull-right">
				<%= link_to raw('<i class="icon-print"></i> Print Parking Pass (PDF)'), reservation_path(@reservation, format: 'pdf'), class: "pull-right" %>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span3 pull-left">
				<%= image_tag("#{@reservation.spot.building.image}", size: "100x100") %></br>
				<strong>Location:</strong></br>
				<%= @reservation.spot.building.name %></br>
				<%= @reservation.spot.building.address %> </br> <%= @reservation.spot.building.city %>, 
				<%= @reservation.spot.building.state %> <%= @reservation.spot.building.zip_code %></br>
				<strong>Spot: <span class="blue"><%= @reservation.spot.name %></span></strong></br>
			</div>
			<div class="span5 pull-right">
							<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x150&sensor=false&zoom=15&markers=#{@reservation.spot.building.latitude}%2C#{@reservation.spot.building.longitude}" %>
				<h4 class="blue">
					<%= @reservation.start_date.strftime("%b %e, %Y") %> <%= @reservation.time_slot_start_hour %>- 
					<%= @reservation.end_date.strftime("%b %e, %Y") %> <%= @reservation.time_slot_end_hour %>
					<p class="small inline">(<%= pluralize(@reservation.rent_hours.count, 'hour') %>)</p>
				</h4>
				</br>
				<strong>Confirmation Number: <span class="red"><%= @reservation.confirmation_number %></span></strong></br></br>
				<strong>Garage Instructions:</strong></br>
				<p>
					<em>
					<%= @reservation.spot.building.garage_instructions %>
					</em>
				</p>
			</div>
		</div> <!-- End of row -->
		<hr>
	</div>
</div>