<% if current_user.searches.count != 0 %>
<%= will_paginate @listings %>
<table class="table table-striped table-condensed table-hover">
	<thead>
	  <tr>
	    <th>Spot</th>
	    <th>Start</th>
	    <th>End</th>
	  </tr>
	</thead>
	<tbody>
	<% @listings.each do |listing| %>
	  <tr>
			<td><%= listing.spot.name %></td>
			<td><%= listing.time_slot_start_hour %>, <%= listing.start_date.strftime("%b %e, %Y") %></td>
			<td><%= listing.time_slot_end_hour %>, <%= listing.end_date.strftime("%b %e, %Y") %></td>
			<td><%= link_to 'Reserve', '#' %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<%= will_paginate @listings %>
<% end %>