<% if @search2.rent_hour_groups.count != 0 %>

<h3 class="red"><%= pluralize(@search2.rent_hour_groups.count, 'spot') %> available!
</h3>
<hr>

<table class="table table-striped table-condensed table-hover">
	<thead>
	  <tr>
	    <th>Spot</th>
	    <th>Time</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	<% @search2.rent_hour_groups.each do |rh_group| %>
	  <tr>
			<td><%= rh_group.first.spot.name %></td>
			<td><%= @search2.start_date.strftime("%b %e, %Y") %> <%= @search2.time_slot_start_hour %> - 
			<%= @search2.end_date.strftime("%b %e, %Y") %> <%= @search2.time_slot_end_hour %> </td>
			<td><%= link_to 'Add To Cart', carts_path(@cart, query: rh_group), method: :post %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% else %>
<div class="alert alert-error">***No spots available at the selected time.***</div>
<% end %>