<% if @search2.rent_hours.count != 0 %>

<h3><%= @search2.rent_hours.uniq { |s| s.spot.name }.count %> spots available!
</h3>
<hr>

<table class="table table-striped table-condensed table-hover">
	<thead>
	  <tr>
	    <th>Spot</th>
	    <th>Hour</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	<% @search2.rent_hours.uniq { |s| s.spot.name }.each do |rh| %>
	  <tr>
			<td><%= rh.spot.name %></td>
			<td><%= @search2.time_slot_start_hour %> - <%= @search2.time_slot_end_hour %>, <%= rh.date.strftime("%b %e, %Y") %></td>
			<td><%= link_to 'Add', '#' %></td>
		</tr>
	<% end %>
	</tbody>
</table>
<% else %>
<em>No spots available at this time.</em>
<% end %>