<div class="row">
	<div class="span7">
		<ul class="nav nav-tabs span7">
		  <li class="active"><a href="#">Find Parking</a></li>
		  <li><%= link_to 'Share My Spot', new_listing_path %></li>
		</ul>
		<div class="search-well span7">
			<%= render 'form' %>
		</div>
	</div>
	<div class="span5">
		<div class="custom-well span4 pull-right">
			<h3>Cart</h3>
			<hr>
			<%= render 'reservations/cart' %>
		</div>
	</div>
</div>
<hr>
<%= render 'buildings/participating_buildings' %>
</br>
<hr>
</br>
<%= render 'shared/how_does_it_work' %>
