
<%= form_for(@lease) do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
<div class="row">
	<div class="custom-well">
		<h3 class="blue">Register My Parking Spot</h3>
		<hr>
		<div class="row">
			<div class="span2">
				<label>Building:</label>
			</div>
			<div class="span3 red">
		    <%= current_user.building.name %>
			</div>
		</div>
		<% if current_user.leases.count != 0 %>
		<div class="row">
			<div class="span2">
				<label>Registered spots:</label>
			</div>
			<div class="span3">
		    <%= current_user.leases.map { |l| l.spot.name }.to_sentence %>
			</div>
		</div>
		<% end %>
		</br>
		<div class="row">
			<div class="span2">
				<label>Which spot is yours?</label>
			</div>
			<div class="span3">
				<%= f.collection_select :spot_id, @spots, :id, :name, prompt: "--select--" %>
			</div>
		</div>
		<div class="row">
			<div class="span8">
				<label class="checkbox">
					<%= f.check_box(:confirmed) %>
					I acknowledge that this is my parking spot and agree to the <%= link_to 'terms and conditions', '#' %>
					of ShareTheLot.
				</label>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span2">
				<%= f.submit 'Create', class: "btn btn-custom btn-large" %>
			</div>
		</div>
	</div>
</div>
<% end %>
</br>
