<footer class="footer">
  <small>
  	© ShareTheLot 2012
  </small>
  <nav>
    <ul>
      <li><%= link_to "How\'s it work?", '#' %></li>
			<li><%= link_to "FAQ", '#' %></li>
      <li><%= link_to "About Us", '#' %></li>
      <li><%= link_to "Terms", '#' %></li>
      <li><%= link_to "Contact Us", '#' %></li>
    </ul>
  </nav>
</footer>