<header>
	<div class="navbar navbar-inverse">
	  <div class="navbar-inner">
	    <div class="container">
	      <%= link_to raw('<strong>ShareThe<span class="red">Lot</span></strong>'), root_url, id: 'logo', class: 'brand' %>
				<% if current_user %>
				<h2 class="tag_in_nav">#sharing</h2>
				<h2 class="tag_in_nav">#parking</h2>
				<h2 class="tag_in_nav">#garage</h2>
				<h2 class="tag_in_nav">#chicago</h2>
				<ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Welcome, <%= current_user.first_name %>! <b class="caret red-caret"></b>
						</a>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Account', user_path(current_user) %></li>
              <li><%= link_to 'Register My Spot', new_lease_path %></li>
							<li><%= link_to "My Reservations (#{current_user.reservations.where(paid: true).where("end_date >= ?", Date.today).count})", reservations_path %> </li>
              <li class="divider"></li>
							<% if Cart.find_by_id(session[:cart_id]) && Cart.find_by_id(session[:cart_id]).reservations.count != 0 %>
							<li><%= link_to "Checkout", checkout_path %></li>
							<% end %>
              <li><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
          </li>
        </ul>
				<div class="building_name">My Building: <strong class="red"><%= current_user.building.name %></strong></div>
				<% else %>
				<h2 class="tag_in_nav">#sharing</h2>
				<h2 class="tag_in_nav">#parking</h2>
				<h2 class="tag_in_nav">#garage</h2>
				<h2 class="tag_in_nav">#chicago</h2>
				<% end %>
	    </div>
	  </div>
	</div>
</header>